[Unit]
Description=Running In Background to Fix Your Sleep

[Service]
Type=simple
ExecStart=%h/MyScripts/SleepFixer.sh

[Install]
WantedBy=default.target
