[Unit]
Description=Auto Theme Changer. Schedules Dark Mode

[Service]
Type=simple
ExecStart=%h/MyScripts/themeSwitcher.sh

[Install]
WantedBy=default.target
